
*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#0f172a;
color:white;
}

header{
background:#020617;
padding:20px 60px;
border-bottom:1px solid #1e293b;
}

.logo{
font-size:22px;
font-weight:600;
color:#38bdf8;
}

.hero{
text-align:center;
padding:60px;
}

.hero h1{
font-size:40px;
margin-bottom:10px;
}

.hero p{
color:#94a3b8;
}

.container{
width:70%;
margin:auto;
background:#020617;
padding:40px;
border-radius:10px;
border:1px solid #1e293b;
}

.drop-area{
border:2px dashed #38bdf8;
padding:40px;
text-align:center;
border-radius:8px;
margin-bottom:25px;
}

.input-group{
margin-bottom:20px;
}

select{
width:100%;
padding:12px;
background:#0f172a;
border:1px solid #334155;
color:white;
border-radius:6px;
}

button{
width:100%;
padding:14px;
background:#38bdf8;
border:none;
border-radius:6px;
font-size:16px;
cursor:pointer;
margin-top:10px;
}

button:hover{
background:#0ea5e9;
}

.info-btn{
background:#22c55e;
}

.info-btn:hover{
background:#16a34a;
}

.scanning{
display:none;
text-align:center;
margin-top:30px;
}

.loader{
border:5px solid #1e293b;
border-top:5px solid #38bdf8;
border-radius:50%;
width:40px;
height:40px;
animation:spin 1s linear infinite;
margin:auto;
}

@keyframes spin{
0%{transform:rotate(0deg);}
100%{transform:rotate(360deg);}
}

.progress{
width:100%;
background:#1e293b;
border-radius:6px;
overflow:hidden;
margin-bottom:20px;
}

.progress-bar{
height:20px;
width:0%;
background:#22c55e;
transition:1s;
}

#scoreText{
font-size:48px;
color:#22c55e;
margin-bottom:15px;
text-align:center;
}

.skills{
display:flex;
justify-content:space-between;
margin-top:20px;
}

.skills div{
width:48%;
}

ul{
margin-left:20px;
color:#cbd5f5;
}

.back-home{
margin-top:30px;
text-align:center;
}

footer{
text-align:center;
margin-top:40px;
padding:20px;
color:#64748b;
}

.how-system{
padding:60px;
text-align:center;
display:none;
}

.steps{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:20px;
}

.step{
background:#020617;
border:1px solid #1e293b;
padding:25px;
width:250px;
border-radius:8px;
}

.step h3{
color:#38bdf8;
margin-bottom:10px;
}
#fileName{
margin-top:10px;
color:#94a3b8;
}

.drop-area{
cursor:pointer;
transition:0.3s;
}

.drop-area:hover{
border-color:#22c55e;
background:#020617;
}

.tips{
margin-top:30px;
padding:20px;
border:1px solid #1e293b;
border-radius:8px;
background:#020617;
}